.wishlistContainer {
  width: 100%;
  height: 100%;
  background: center / contain no-repeat url('https://media.gqmagazine.fr/photos/6219015a62fefef7e3640b57/16:9/w_2560%2Cc_limit/fifa%2520cover%25201.jpg');
}