.crossContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 50px;
}

.modalImgContainer {

}

.imageOfProduct {
  width: 150px;
  height: 150px;
}

.mainContainer {
  display: flex
}


.descriptionContainer {

}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #cccccc;
  //bgcolor: background.paper;
  border: 2px solid #000;
  height: 100%;
  padding: 4px;
}