.containerPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10rem;
  max-width: 60%;
  margin: 0 auto;
}

//.containerForImg {
//
//}
//
//.descriptionContainer {
//
//}
//
//.description {
//  margin-bottom: 20px;
//}
//
//.buttonBlock {
//  display: flex;
//  align-items: center;
//}
//
//.forWhom {
//  display: flex;
//  justify-content: space-between;
//}